---
import Circle from "../Circle.astro";
import Carousel from "./Carousel";
---

<div
    class="relative w-full h-screen bg-gradient-to-tl from-violet-400/80 via-rose-500/60 to-fuchsia-400 z-[1] overflow-hidden"
>
    <div class="flex flex-col h-full w-full pt-14">
        <!-- Header -->
        <div class="flex flex-row w-full md:w-1/2 justify-center">
            <h1 class="text-5xl">Projects</h1>
        </div>
        <Carousel client:load/>
    </div>

    <!-- For background -->
    <div
        class="absolute w-[100%] h-[10%] bg-background -top-[5%] -skew-x-[70deg] rotate-[2deg] z-[4]"
    >
    </div>

    <!-- Bakkcground circles -->
    <div class="absolute top-0 right-0">
        <Circle extra="z-3" />
    </div>

    <div class="absolute bottom-1/4 left-0">
        <Circle extra="h-72 w-72" />
    </div>
</div>
