---

    const width_1 = 10
---

<div
    class="relative w-full h-screen bg-gradient-to-tl from-violet-400/80 via-rose-500/60 to-fuchsia-400 z-[1]"
>


    <!-- For background -->
    <div class="absolute w-[100%] h-[10%] bg-background -top-[5%]  -skew-x-[70deg] rotate-[2deg]"></div>

</div>