---
import Glass from "../../Glass.astro";
import profilePicture from '../../../images/prof-pic.png';

---

<div class="flex justify-center items-center h-full w-full">
    <div class="relative min-w-[320px] min-h-[370px] lg:w-1/2 aspect-[1/1.1]">
        <div class="absolute left-0 bottom-0 min-w-[300px] min-h-[350px] lg:h-[95%] lg:w-[95%] z-10">
            <Glass>
                <div class="flex justify-center items-end h-full w-full rounded-2xl overflow-hidden">
                    <img src={profilePicture}/>
                </div>
            </Glass>
        </div>
        <div class="prof-bg absolute right-0 top-0 w-[300px] h-[350px] lg:h-[95%] lg:w-[95%] z-0 rounded-3xl"></div>
    </div>
</div>

<style>
    .prof-bg {
        background: linear-gradient(111.34deg, rgba(232, 121, 249, 0.85) 9.74%, rgba(244, 63, 94, 0.6) 51.32%, rgba(167, 139, 250, 0.96) 100%);
    }
    img {
        width: 100%;
        object-fit: contain;
        border-radius: 24px;
    }
</style>
