---
import Circle from "../Circle.astro";
import Triangle from "../Triangle.astro";
import Glass from "../Glass.astro";
import Header from "./Header/index.astro";
---

<!-- The container for introduction -->
<div
    class="relative min-w-full h-[100vh] bg-gradient-to-tl from-violet-400/80 via-rose-500/60 to-fuchsia-400 z-[1] overflow-hidden"
>
    <div class="relative h-full w-full px-[5%] py-[5%]">
        <Glass>
            <div class="py-6 px-7 w-full h-full">
                <Header />
            </div>
        </Glass>
    </div>

    <!-- Background circle -->
    <div class="absolute bottom-[-50px] right-[-50px] z-[2]">
        <Circle />
    </div>

    <!-- Background triangle -->
    <div class="absolute top-20 -left-64 transform rotate-[220deg] z-[2]">
        <Triangle />
    </div>
</div>
