---
import TechStack from "./TechStack";
---

<div class="h-full w -full flex flex-col justify-center">
    <h2 class="text-center text-2xl">
        In addition to basic HTML, JavaScript and CSS, I am familiar with...
    </h2>
    <TechStack client:visible />
    <h2 class="text-center text-2xl">I have also previously used</h2>
    <h3 class="text-xl text-center">
        Scala, Python, C, Deno, GraphQL, Nodemon, Docker,
        React Native, Figma, Redis, Jest 
        and <span class=" font-semibold">MORE TO COME</span>...
    </h3>
</div>
