---
import image from '../../../images/introduction.svg';
---

<div class="flex flex-1 flex-col justify-center md:flex-row py-14 md:py-0">
    <div class="flex flex-col justify-center md:pl-16 flex-[2] lg:flex-1 gap-8 md:order-first order-last py-14 md:py-0 
                max-w-3xl
    ">
        <h1 class="text-6xl text-center tracking-wide">Hi, I'm Sami</h1>
        <p class="text-4xl text-center tracking-wider leading-[44px]">
            I am aspiring <span class="detailedText font-semibold"> Web Developer</span> 🚀 Interested in new technologies
            🚧 and Chinese dramas 🎭
        </p>
    </div>
    <div class="flex justify-center flex-1 pt-[5%]
                max-w-3xl
    ">
        <img src={image} />
    </div>
</div>

<style>
    .detailedText {
        position: relative;
        background: linear-gradient(45deg, #4c1d95 3.99%, #e11d48 66.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
