---
import ProfilePic from './ProfilePic/index.astro';
import Technologies from './Technologies/index.astro';
---

<!-- Skills container -->
<div class="flex flex-col min-w-full min-h-screen z-40 bg-background px-[3%] py-[3%]">
    <!-- Header -->
    <div class="flex flex-row w-1/2 justify-center">
        <h1 class="text-5xl">My Skills</h1>
    </div>

    <!-- Skills content -->
    <div class="flex-1 flex flex-row">
        <div class="flex-1">
            <ProfilePic />
        </div>
        <div class="flex-1">
            <Technologies />
        </div>
    </div>
</div>
