---
import Glass from "../../Glass";
import Schools from "./Schools";
import StudyActions from "./StudyActions";
---

<div class=" lg:h-full w-full relative">
    <!-- Glass Layer -->
    <div class="h-full w-full px-[1%] lg:px-[5%] py-14 absolute top-0">
        <Glass>
            <div class="h-full w-full"></div>
        </Glass>
    </div>

    <!-- Content layer -->
    <div class="lg:h-full w-full px-[1%] lg:px-[5%] py-14 lg:absolute top-0 z-[3]">
        <div class="lg:h-full w-full flex flex-col px-4 lg:px-[5%] py-8">
            <div class="px-5 text-3xl pb-[5%] z-[10]">Education</div>

            <Schools />
            <StudyActions client:visible />
        </div>
    </div>
</div>
