---
import ProjectHeaderLink from "./ProjectHeaderLink.astro";
---

<div class="flex flex-row w-full px-7 gap-5">

    <ProjectHeaderLink name="Home" href="/" />
    <ProjectHeaderLink name="Projects" href="/projects/test" />
</div>