---
const { extra } = Astro.props;
---

<div
    class={" h-96 w-96 rounded-full bg-gradient-to-t from-blue-50/0 to-blue-50/80 opacity-50" + ' ' + extra}
>

</div>

<style>
    .circle {
        background: linear-gradient(180deg, rgba(247, 239, 239, 0.5) 0%, rgba(247, 239, 239, 0) 100%);
        opacity: '100%';
    }
</style>