---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config.js";
import Header from "../../components/Header/ProjectHeader.astro";
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="root">
			<div class="h-[120vh] w-full bg-gradient-to-tl from-violet-400/80 via-rose-500/60 to-fuchsia-400 overflow-hidden">
                <Header />
            </div>
		</div>
	</body>
</html>

<style>
    .root {
        background-color: aqua;
    }
</style>

