---
import HeaderLink from './HeaderLink/index.astro';
---

<div
    class="flex flex-wrap md:h-14  w-full px-20 justify-between items-center
        sm:h-28 h-48 md-bg-blue-400
    "
>
    <HeaderLink href="/">
        Home
    </HeaderLink>
    <HeaderLink href="/#">
        Skills
    </HeaderLink>
    <HeaderLink href="/#">
        Projects
    </HeaderLink>
    <HeaderLink href="/#">
        Education
    </HeaderLink>
</div>